{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 center lh-copy nested-links {{ $.Param "text_color" | default "mid-gray" }}">
  
  <!-- Блок вітання: вирівняний по правому краю суворо в межах mw8 -->
  <div class="mw8 center tr mb4">
    {{ .Content }}
  </div>

  <!-- Блок списку анонсів (картки) -->
  <div class="mw8 center">
    <section class="flex-ns flex-wrap justify-between">
      {{ range .Site.RegularPages }}
        <div class="relative w-100 mb4">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  </div>

</article>
{{ end }}
